@page
@model Core_Web_Razor.Pages.ContactModel
@{
}
<h1>
	Address:Doddakannelli, Sarjapur Road
	Bengaluru - 560 035, India
</h1>

<h1>Ph no:+91 (80) 46827999, +91 (80) 61427999, +91 (80) 46726000</h1>
