@page
@model Core_Web_Razor.Pages.EmpPageModel

@{
}

<form method="post">
    <label asp-for="Id"></label>
    <input asp-for="Id" />
    <br />

    <label asp-for="Name"></label>
    <input asp-for="Name" />
    <br />

    <label asp-for="phone"></label>
    <textarea asp-for="phone"></textarea>
    <br />

    <label asp-for="Message"></label>
    <textarea asp-for="Message"></textarea>
    <br />

    <button type="submit">Send</button>
</form>