@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2>Billing Summary</h2>

<p>Order placed successfully!</p>

<p>Customer Name: @Model.CustomerName</p>
<p>Address: @Model.Address</p>
<p>Total: @Model.Total</p>
