@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2>Login</h2>

<form method="post">
    <label>Username:</label>
    <input type="text" name="username" />
    <br />
    <label>Password:</label>
    <input type="password" name="password" />
    <br />
    <button type="submit">Submit</button>
</form>
