@{
    ViewData["Title"] = "Home Page";
}
<h1>Welcome to ASP.NET Core</h1>

<!DOCTYPE html>
<html>
<head>
    <title>My Page</title>
    <link rel="stylesheet" href="site.css">
</head>
<body>
    <h1>Welcome to my page!</h1>
    <script src="site.js"></script>
</body>
</html