@page
@model OnlineBookStore.Pages.Account.RegisterModel
@{
    Layout = "/Pages/Shared/_Layout.cshtml";
    ViewData["Title"] = "Register";
}
<h2>Register</h2>
<form method="post">
    <div class="mb-2">
        <label>Username</label>
        <input name="UserName" class="form-control" />
    </div>
    <div class="mb-2">
        <label>Password</label>
        <input name="Password" type="password" class="form-control" />
    </div>
    <div class="mb-2">
        <label>Role</label>
        <select name="Role" class="form-control">
            <option>User</option>
            <option>Admin</option>
        </select>
    </div>
    <button class="btn btn-primary" type="submit">Register</button>
</form>
