@page
@model Assign1.Pages.IndexModel
@{
    ViewData["Title"] = "Products";
}
<h1>Products</h1>
@* 
@foreach (var product in Model.Products)
{
    <partial name="_ProductSummary" model="product" />
} *@