body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

header {
    background-color: #ffc5c5; 
    padding: 1rem;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
}

header nav li {
    margin-right: 20px;
}

header nav a {
    color: #fff;
    text-decoration: none;
}

header nav a:hover {
    color: #ddd;
}

main {
    margin-top: 80px; /* Add margin top to content to avoid overlap with header */
    padding: 20px;
    min-height: calc(100vh - 120px); /* Make sure footer stays at bottom */
}

footer {
    background-color: #ffc5c5; /* Light pink color */
    padding: 1rem;
    text-align: center;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #fff;
    clear: both;
}

footer p {
    margin: 0;
}