@using Prep1.Data
@model IEnumerable<ApplicationUser >

@{
    ViewData["Title"] = "Admin Dashboard";
}

<h2>Admin Dashboard</h2>

<p>@ViewBag.Message</p>

<table  cellpadding="5">
    <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.UserName</td>
                <td>@user.Email</td>
            </tr>
        }
    </tbody>
</table>
